@model anthR.Web.Models.Core.MasterSite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MasterSite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiveBidMasterSiteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiveBidMasterSiteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasVAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasVAT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MasterSiteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
