@model List<anthR.Web.Models.Core.MasterSite>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-md-6">

        <div>
            <p>
                @Html.RawActionLink("<i class=\"glyphicon glyphicon-plus-sign\"></i> Create New Master Site", "Create", "MasterSite", null, new { @class = "btn btn-xs btn-primary" })
            </p>
        </div>

        @if (Model.Count == 0)
        {
            <h4>No Master Sites</h4>
        }
        else
        {
            <table class="table">
                <caption>Master Sites</caption>
                <tr>
                    @*<th>ID</th>*@
                    <th>Master Site</th>
                    <th>Master Site Id</th>
                    <th class="text-right">Options</th>
                </tr>
                @foreach (var masterSite in Model)
                {                    
                    <tr>
                        @*<td>@masterSite.MasterSiteId</td>*@
                        <td>@masterSite.Name</td>
                        <td>@masterSite.LiveBidMasterSiteId</td>
                        <td>
                            <div class="btn-group pull-right">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Details", "Details", "MasterSite", new { id = masterSite.MasterSiteId }, null)</li>
                                    <li>@Html.ActionLink("Edit", "Edit", "MasterSite", new { id = masterSite.MasterSiteId }, null)</li>                                       
                                </ul>
                            </div> 
                        </td>
                    </tr>
                }
            </table>
        }
    </div>


</div>
