@model IEnumerable<anthR.Web.Models.Core.Project>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New Project", "Create", "Projects", null, new { @class = "btn btn-xs btn-primary" })
    |
    @if (string.IsNullOrEmpty(Request["completed"]))
    {
        @Html.ActionLink("Completed Projects", "Index", "Projects", new { completed = true }, new { @class = "btn btn-xs btn-primary" })
    }
    else
    {
        @Html.ActionLink("Live Projects", "Index", "Projects", null, new { @class = "btn btn-xs btn-primary" })
    }    
    <div class="checkbox pull-right">
        <label>
            <input type="checkbox" id="with-tasks" /> With Current Tasks
        </label>
    </div>    
</p>
<table class="table">
    <tr>
        <th>            
            Site
        </th>
        <th>
            Project
        </th>
        <th>
            Staff On Project
        </th>
        <th>Current Tasks</th>
        <th class="text-right">Options</th>
    </tr>

    @foreach (var item in Model)
    {        
        <tr class="@string.Format("task-count-{0}", @item.Tasks.Where(t => !t.DateCompleted.HasValue).Count())">
            <td class="searchable">
                @Html.DisplayFor(modelItem => item.MasterSite.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.StaffOnProjects.Any())
                {
                    foreach (var staff in item.StaffOnProjects)
                    {
                        <span>@Html.ActionLink(staff.Staff.Name, "Details", "Staff", new { id = staff.StaffId }, null)</span>
                    }
                }
            </td>
            <td>
                @item.Tasks.Where(t => !t.DateCompleted.HasValue).Count()
            </td>
            <td class="text-right">
                <div class="row">
                    <div class="btn btn-xs btn-group">
                        @Html.ActionLink("Add Staff", "Create", "StaffOnProjects", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                        @Html.ActionLink("Add Task", "Create", "Tasks", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                        @if (string.IsNullOrEmpty(Request["all"]))
                        {
                            @Html.ActionLink("Project Tasks", "Index", "Tasks", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                        }
                        else
                        {
                            @Html.ActionLink("Project Tasks", "Index", "Tasks", new { id = item.Id, all = "true" }, new { @class = "btn btn-xs btn-primary" })
                        }   
                    </div>
                </div>
                <div class="row">
                    <div class="btn btn-xs btn-group">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-info" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-info" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-danger" })
                        @Html.ActionLink("Complete", "Complete", "Projects", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })
                    </div>
                </div>
            </td>



        </tr>
    }

</table>


@section scripts{

    <script>
        $(function () {
            $('#with-tasks').on('click', function () {
                if ($(this).is(':checked')) {
                    $('.task-count-0').hide();
                } else {
                    $('.task-count-0').show();
                }
            });

            // handle Ctrl + S
            $(document).on('keydown', function (e) { handleShortcuts(e); });
            $(document).on('click', '.close-search', function () {
                closeSearch();
            });
            var handleShortcuts = function (e) {

                // Ctrl + F
                if (e.keyCode === 114 || (e.ctrlKey && e.keyCode === 70)) {
                    e.preventDefault();
                    // pop up custom search
                    $('#searchBox').show();
                    $('#search').focus();
                }

                // escape key
                if (e.keyCode == 27) {
                    closeSearch();
                }

            };

            $(document).on('keyup', '#search', function () {
                searchList();
            });

            var closeSearch = function () {
                $('#searchBox').hide();
                $('#search').val('');
                searchList();
            };

            var searchList = function () {

                var value = $('#search').val();

                $("table tr").each(function (index) {
                    if (index !== 0) {

                        $row = $(this);

                        var id = $row.find("td.searchable").text();
                        if (id.toLowerCase().indexOf(value.toLowerCase()) > -1) {
                            $row.show();
                        }
                        else {
                            $row.hide();
                        }

                    }
                });

            };

        });
    </script>

}