@model anthR.Web.Models.Core.StaffOnProjects

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TodoLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>StaffOnProjects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
