<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @RenderSection("head", required: false)

</head>
<body class="background-dark">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("anthR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                    <li>@Html.ActionLink("Tasks", "Index", "Tasks")</li>
                    <li>@Html.ActionLink("Schedule", "Index", "Schedule")</li>
                    @*<li>@Html.ActionLink("Timesheets", "Index", "Timesheets")</li>*@
                    @*<li>@Html.ActionLink("ToDo", "Index", "Todo")</li>*@
                    <li>@Html.ActionLink("Notes", "Index", "Notes")</li>
                    <li>@Html.ActionLink("Master Site", "Index", "MasterSite")</li>
                    <li>@Html.ActionLink("Staff", "Index", "Staff")</li>
                    <li>@Html.ActionLink("Monthy Timesheet", "Show", new { controller = "Timesheets", month = DateTime.Now.Month })</li>
                </ul>
                <p class="nav navbar-text navbar-right">
                    @{Html.RenderAction("StaffGravatar", "Staff");}
                    Hello, @User.Identity.Name.Replace("KFS\\", "")!
                </p>
            </div>
        </div>
    </div>

    <div class="container body-content">

        @RenderBody()

        <div id="searchBox" 
             style="position: absolute; top: 62px; width: 1140px; padding: 50px; background-color: rgba(255,255,255,.75); display: none;">

            <form>

                <div class="form-group">
                    <input type="text" placeholder="Search..." id="search" class="form-control" style="max-width: none;" />
                </div>
                <button type="button" class="btn btn-default" aria-label="Left Align">
                  <span class="glyphicon glyphicon-remove close-search" aria-hidden="true"></span>
                </button>
        
            </form>

        </div>

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>

</html>
