@model anthR.Web.Models.arTask.Timesheet

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TimesheetLayout.cshtml";

    anthR.Web.Models.Core.Project _project = (anthR.Web.Models.Core.Project)ViewBag.Project;

}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4>Timesheet</h4>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.DateRecorded, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DateRecorded, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateRecorded, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hours, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mins, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mins, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mins, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (_project.Quoted > 0)
        {
            <div class="form-group">
                <label>Project Quoted at @_project.Quoted.ToString("C") @(_project.MasterSite.HasVAT ? "+ VAT": "")</label>
            </div>
        }
        else
        {
        <div class="form-group">
            @Html.LabelFor(model => model.HourlyRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HourlyRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HourlyRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quoted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quoted, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quoted, "", new { @class = "text-danger" })
            </div>
        </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.AlreadyBilled, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlreadyBilled, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AlreadyBilled, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.StaffId, "StaffId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StaffId", (SelectList)ViewBag.Staff, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StaffId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnthRTaskId, "Task", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AnthRTaskId", (SelectList)ViewBag.AnthRTask, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AnthRTaskId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="CompleteTask">Completed Task now?</label>
            <div class="col-md-10">
                <div class="checkbox">
                    <label>
                        <input id="CompleteTask" name="CompleteTask" type="checkbox" value="true"><input name="CompleteTask" type="hidden" value="false">
                    </label>    
                </div>              
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Allocate Time</button>
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to Tasks", "Index", "Tasks")
</div>
