@model IEnumerable<anthR.Web.Models.arTask.AnthRTask>

@{
    ViewBag.Title = "Index";
    int? _id = null;
    // get project id if exists.
    if (ViewContext.RouteData.Values["id"] != null && !string.IsNullOrEmpty(ViewContext.RouteData.Values["id"].ToString()))
    {
        _id = int.Parse(ViewContext.RouteData.Values["id"].ToString());
    }
}

@*http://codyhouse.co/demo/contact-form/index.html*@

<div class="row">

    <div class="col-sm-6">
        @Html.ActionLink("Create New Task", "Create", "Tasks", new { id = _id }, new { @class = "btn btn-xs btn-primary" })
        |
        @if (string.IsNullOrEmpty(Request["completed"]))
        {
            @Html.ActionLink("Completed Tasks", "Index", "Tasks", new { completed = true }, new { @class = "btn btn-xs btn-primary" })
        }
        else
        {
            @Html.ActionLink("Live Tasks", "Index", "Tasks", null, new { @class = "btn btn-xs btn-primary" })
        }        
    </div>
        
    <div class="col-sm-6">

        <form class="form-group form-group-sm form-inline">
            <fieldset>
                <div class="col-sm-4 pull-right">
                    <label>
                        Priority
                        <select class="form-control" id="priority">
                            <option value="0">All</option>
                            <option value="1">1</option>
                            <option value="2">2</option>                        
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </label>
                </div>
                <div class="col-sm-5 pull-right">
                    <label>
                        Status
                        <select class="form-control" id="status">
                            <option value="0">All</option>
                            <option value="1">Awaiting Start</option>
                            <option value="2">In-Progress</option>                        
                            <option value="3">Waiting</option>
                            <option value="4">Complete</option>
                            <option value="5">Delegated</option>
                        </select>
                    </label>
                </div>                
            </fieldset>
        </form>

    </div>

</div>

<div class="row">

    <div class="col-sm-12 with-padding">

        <table class="table table-hover" id="project-tasks">
            <caption>Project Task</caption>
            <tr>
                <th style="width: 2px; padding: 0;">&nbsp;</th>
                <th style="width: 2px; padding: 0;">&nbsp;</th>
                <th>
                    Task
                </th>
                <th>Planned Start</th>
                <th>Deadline</th>
                <th>Staff On Task</th>
                <th class="text-right">Options</th>
            </tr>

            @foreach (var item in Model)
            {

                <tr class="@string.Format("ps p-{0} s-{1}", item.Priority, item.StatusId)">
                    <td style="width: 2px; padding: 0; @string.Format("background-color: {0}", item.Status.HexColor)" title="@item.Status.Description">&nbsp;</td>
                    <td class="@string.Format("priority-{0}", item.Priority)" title="@string.Format("Priority {0}", item.Priority)" style="width: 2px; padding: 0;">&nbsp;</td>
                    <td class="searchable" title="@string.Format("Status: {0} - Priority: {1}", item.Status.Description, item.Priority)">
                        <i>
                            @Html.DisplayFor(modelItem => item.Project.MasterSite.Name)<br />
                            <strong>@Html.DisplayFor(modelItem => item.Project.Name)</strong>
                        </i>
                        <br />
                        <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                    </td>
                    <td>
                        @(item.PlannedStart.Year > 1900 ? item.PlannedStart.ToString("dd MMM hh:mm tt") : "n/a")
                    </td>
                    <td>
                        @(item.Deadline.Year > 1900 ? item.Deadline.ToString("dd MMM hh:mm tt") : "n/a")
                    </td>
                    <td>
                        @if (item.StaffOnTasks.Any())
                        {
                            foreach (var staff in item.StaffOnTasks)
                            {
                                <span>@Html.ActionLink(staff.Staff.Name, "Details", "Staff", new { id = staff.StaffId }, null)</span>
                            }
                        }
                    </td>

                    <td>
                        <div class="btn-group pull-right">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <span class="glyphicon glyphicon-menu-hamburger"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Add Staff", "Create", "StaffOnTasks", new { id = item.ProjectId, taskId = item.Id }, null)</li>
                                <li>@Html.ActionLink("Allocate Time", "Create", "Timesheets", new { id = item.Id }, null) </li>                                    
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Edit", "Edit", "Tasks", new { id = item.Id }, null)</li>
                                <li>@Html.ActionLink("Details", "Details", "Tasks", new { id = item.Id }, null)</li>
                                <li>@Html.ActionLink("Delete", "Delete", "Tasks", new { id = item.Id }, null)</li>
                                <li>@Html.ActionLink("Complete", "CompleteTask", "Tasks", new { id = item.Id }, null)</li>
                            </ul>
                        </div>                                             
                    </td>
                </tr>
            }

        </table>

    </div>

</div>

@section scripts{

    <script>
        $(function () {

            var $ddlStatus = $('#status');
            var $ddlPriority = $('#priority');
            var $tasks = $('#project-tasks');

            $(document).on('change', '#status, #priority', function () { filterList(); });
            
            var filterList = function () {

                var status = $ddlStatus.val();
                var priority = $ddlPriority.val();

                $('.ps').hide();

                if (priority == "0" && status == "0") {
                    $('.ps').show();
                }
                else if (priority != "0" && status == "0") {
                    $('.p-' + priority).show();
                }
                else if (priority == "0" && status != "0") {
                    $('.s-' + status).show();
                }
                else {
                    $('.p-' + priority + '.s-' + status).show();
                }

            };

            // handle Ctrl + S
            $(document).on('keydown', function (e) { handleShortcuts(e); });
            $(document).on('click', '.close-search', function () {
                closeSearch();
            });
            var handleShortcuts = function (e) {

                // Ctrl + F
                if (e.keyCode === 114 || (e.ctrlKey && e.keyCode === 70)) {
                    e.preventDefault();
                    // pop up custom search
                    $('#searchBox').show();
                    $('#search').focus();
                }

                // escape key
                if (e.keyCode == 27) {
                    closeSearch();
                }

                // Ctrl + C
                if (e.ctrlKey && e.keyCode === 67) {
                    // load create form into modal
                    var $modal = $('<div />').addClass('modal').addClass('show');
                    var $modalInner = $('<div />').addClass('modal-inner');
                    $.get('/tasks/createajaxform', null, function (data) {
                        $modalInner.append(data);
                        $('body').append($modal.append($modalInner));
                    });                    
                }                

            };

            $(document).on('keyup', '#search', function () {
                searchList();
            });

            var closeSearch = function () {
                $('#searchBox').hide();
                $('#search').val('');
                searchList();
            };

            var searchList = function () {

                var value = $('#search').val();

                $("table tr").each(function (index) {
                    if (index !== 0) {

                        $row = $(this);

                        var id = $row.find("td.searchable").text();                        
                        if (id.toLowerCase().indexOf(value.toLowerCase()) > -1) {
                            $row.show();
                        }
                        else {
                            $row.hide(); 
                        }

                    }
                });

            };

        });
    </script>

}